<h1 class="text-center"><b><%= @post.title %></b></h1>
<div><%= @post.body %></div><br>
<div class="pull-right"><p><b>Recept napisal: <%= @post.user.email %></b></p></div>
<div><%= image_tag @post.image_url.to_s %></div>
<hr>
<% if @post.user_id == current_user.id %>
<%= link_to "Uredi", edit_post_path(@post), :class => 'btn btn-default' %>
<%= link_to "Izbriši", post_path(@post), 
                        method: :delete,
                        data: { confirm: 'Are you sure?' },
                        :class => 'btn btn-danger' %>
<% end %>


<%= render 'comments/form' %>
<%= render 'comments/comments' %>